<header>
  <link rel="stylesheet" href="src/layouts/main-layout/header/header.css">
  <div class="container">
    <div class="logo">
      <img src="src/assets/images/common/whitelogo.png" alt="Logo">
      <span><h1>Life Below Water</h1></span>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="src/pages/home/home.html">Home</a></li>
        <li><a href="src/pages/table/table.html">Table</a></li>
        <li><a href="src/pages/contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>


