/* Navigation Bar */
.nav-bar {
  background-color: var(--primary-blue);
  width: 100%;
  padding: 15px 0;
}

/* Center Content */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* Logo */
#logo {
  max-width: 150px;
  height: auto;
}

/* Desktop Navigation */
.desktop-nav {
  display: flex;
  justify-content: flex-end;
}

.desktop-nav .navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

/* Navigation Links */
.navbar-nav .nav-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 15px;
  transition: 0.3s;
}

.overlay {
  display: none;
}

/* Mobile Navigation */
@media (max-width: 768px) {
  .desktop-nav {
    display: none; /* Hide desktop menu */
  }

  /* Show Hamburger Icon */
  .menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: white;
    display: block;
  }

  /* Overlay Menu */
  .overlay {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%; /* Initially hidden */
    width: 50%;
    height: 100%;
    /* background: url('/src/assets/images/header/side-menu-sea.jpg') no-repeat center center/cover; */
    background-image: url(/src/assets/images/header/coral_reef.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: var(--dark-blue); */
    transition: right 0.3s ease-in-out;
    z-index: 999;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
  }

  .overlay.show {
    right: 0; /* Slide in from right */
    display: flex;
  }

  /* Overlay Content */
  .overlay-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }

  /* Close Button */
  .closeSideMenu {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }

  /* Mobile Menu */
  .overlay-content .navbar-nav {
    list-style: none;
    padding: 0;
  }

  .overlay-content .nav-item {
    margin: 15px 0;
  }

  .overlay-content .nav-link {
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: background 0.3s ease-in-out;
  }

  .overlay-content .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }
}
