/*Mobile: */
@media (max-width: 575px) {
  .fw-semibold {
    padding-top: 20px;
    font-size: var(--font-size-h2) !important;
  }
  #mobile-hr {
    display: block !important;
    border: 1px solid #023047 !important;
    margin-top: 2px;
  }

  #side-menu-close {
    display: block !important;
    cursor: pointer;
    color: white; /* Change icon color to white */
    font-size: 25px; /* Increase the icon size */
    z-index: 2; /* Placing the icon above the hue*/
    align-items: end !important;
  }

  .navbar {
    display: none !important;
    padding: 5px;
    text-align: center;
  }

  .menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: #023047;
    display: block !important;
  }

  .menu_user{
    width: 100% !important; /* Ensure it takes full width */
    display: flex;
    justify-content: space-between !important; /* Spread items to left and right */
    align-items: center; /* Align items vertically */
  }

  .user-icon, .menu-icon {
    margin: 0 !important;
    padding: 0 !important;
}
}

/* Tablet:  */
@media (max-width: 768px) {
  .logo {
    max-width: 160px !important;
  }

  .fw-semibold {
    font-size: var(--font-size-h3) !important;
  }

  .blue-text {
    color: var(--dark-blue);
    font-size: var(--font-size-h4) !important;
    font-weight: 500;
  }

  #mobile-hr {
    display: block !important;
    border: 1px solid #023047 !important;
    margin-top: 2px;
  }

  /*Navigation bar */
  .menu_user{
    width: 100% !important; /* Ensure it takes full width */
    display: flex;
    justify-content: space-between !important; /* Spread items to left and right */
    align-items: center; /* Align items vertically */
  }

  #menu-toggle {
    font-size: 30px;
    cursor: pointer;
    color: #023047;
    display: block !important;
    align-items: end !important;
    margin-right: auto;    
  }

  /* .user-icon {
   margin-right: auto;
   font-size: 30px;
  } */

  .user-icon, .menu-icon {
    margin: 0 !important;
    padding: 0 !important;
}

  .navbar {
    display: none !important;
    padding: 5px;
    text-align: center;
  }

  #side-menu-close {
    display: block !important;
    cursor: pointer;
    color: white; /* Change icon color to white */
    font-size: 25px; /* Increase the icon size */
    z-index: 2; /* Placing the icon above the hue*/
    align-items: end !important;
  }  

}

/* Laptop -1024 */
@media (max-width: 1024px) {
  .logo {
    max-width: 140px !important;
  }

  .fw-semibold {
    font-size: var(--font-size-h3) !important;
  }

  .blue-text {
    color: var(--dark-blue);
    font-size: var(--font-size-h4) !important;
    font-weight: 500;
  }

/* Navigation Bar */
.nav-bar {
  max-width: 100% !important;
}

.navbar-nav .nav-link {
  font-size: 10px !important;
}
}



/* Top Bar */
.top-bar {
  background-color: var(--primary-blue);
  font-size: 14px;
}

/* Header Main */
.header-main {
  background-color: white;
}

/* Logo */
.logo {
  max-width: 250px;
}

.menu_user {
  display: flex;

}

/*User Icon */
.user-icon {
  font-size: 30px;
  color: var(--primary-blue);
  cursor: pointer;
  margin-left: auto; /* Pushes the icon to the right */
}

/* Title Section */
.fw-semibold {
  font-size: var(--font-size-h1);
  font-weight: 600;
}

.blue-text {
  color: var(--dark-blue);
  font-size: var(--font-size-h2);
  font-weight: 500;
}

/* Hide the <hr> by default */
#mobile-hr,
#menu-toggle,
#side-menu-close {
  display: none;
}

/* Navigation Bar */
.nav-bar {
  background-color: var(--dark-blue);
  border-radius: 30px 30px 0 0;
  max-width: 90%;
  align-items: center;
  margin-top: 20px;
}

.navbar-nav .nav-link {
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
  transition: 0.3s;
} 

.navbar-nav .nav-link.active {
    color: var(--dark-yellow);
    font-weight: bold;
}

.navbar-nav {
  gap: 10px;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.closeSideMenu {
  width: 100%;
  margin-bottom: 10px;
}


/* Overlay Menu */
.overlay {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 35px;
  width: 50%;
  height: 100%;
  z-index: 999;
  transition: 0.3s ease-in-out;
  overflow-y: auto; /* enables scroling */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.overlay-content {
  position: relative;
  z-index: 2; /* content is above the dim effect*/
  width: 100%;
  top: 5;
  height: 100%;
  padding: 20px 10px;
  background-image: url(/img/side-menu-sea.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; 
  padding-bottom: 10rem;
}


/* Add a dark hue (overlay) */
.overlay-content::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 2.3rem;
  width: 50%;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.5); /* Adjust opacity for dim effect */
  z-index: 0; /* Dim effect is below the content -overlay */
  overflow-y: auto; 
}

/* Make sure text is above the hue effect */
.overlay-content .navbar-nav {
  position: relative;
  z-index: 2;
}

.overlay-content .nav-item {
  margin: 10px 0;
  display: block;
  width: 100%;
}

.overlay-content .nav-link {
  color: var(--white);
  font-size:  16px !important;
  display: block ;
  /* transition: background 0.3s ease-in-out; */
}

/* Hover Effect */
.overlay-content .nav-link:hover {
  background-color: var(--primary-blue); /* Light transparent background */
  /* border: 1px solid var(--dark-yellow);  */
  color: var(--white);
}

/* Show the overlay */
.overlay.show {
  display: flex !important;
}
