<header>
    <!-- Top Bar -->
    <div class="top-bar text-white text-left py-2 p">
        <div class="container">
            <p class="mb-0">Sustainable Development Goals</p>
        </div>
    </div>

    <!-- Main Header -->
    <div class="container header-main py-3">
        <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-md-2 text-center">
                <img src="img/united_nations_logo.svg" alt="United Nations Logo" class="logo" />
            </div>

            <!-- Title -->
            <div class="col-md-8 text-center mx-auto">
                <p class="fw-semibold">Department of Economic and Social Affairs</p>
                <p class="blue-text">17. Life Below Water</p>
            </div>

            <!-- Mobile view -->

            <hr id="mobile-hr" class="mx-auto center-align" />

            <!-- Icons (Menu & User) -->
            <div class="col-md-2 d-flex justify-content-between align-items-center">
                <i class="bi bi-list menu-icon" id="menu-toggle" onclick="toggleSideMenu()"></i>
                <i class="bi bi-person-circle user-icon"></i>
            </div>

        </div>

        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-sm navbar-dark nav-bar center-align mx-auto py-1">
            <div class="container">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item me-4"><a class="nav-link" href="/home" id="home-link">Home</a></li>
                    <li class="nav-item me-4"><a class="nav-link" href="/about" id="about-link">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/statistics" id="statistics-link">Statistics</a></li>
                    <li class="nav-item"><a class="nav-link" href="/feedback" id="feedback-link">Feedback</a></li>
                    <li class="nav-item"><a class="nav-link" href="/team" id="team-link">Our Team</a></li>
                    <li class="nav-item"><a class="nav-link" href="/sitemap" id="sitemap-link">Sitemap</a></li>
                </ul>
            </div>
        </nav>

        <!-- Overlay Menu -->
        <div id="menu-overlay" class="overlay">
            <div class="overlay-content">
                <div class="closeSideMenu d-flex justify-content-end">
                    <i class="bi bi-x-square" id="side-menu-close" onclick="closeSideMenu()"></i>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item me-4 my-3"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item me-4"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/statistics">Statistics</a></li>
                    <li class="nav-item"><a class="nav-link" href="/feedback">Feedback</a></li>
                    <li class="nav-item"><a class="nav-link" href="/team">Our Team</a></li>
                    <li class="nav-item"><a class="nav-link" href="/sitemap">Sitemap</a></li>
                </ul>
            </div>
        </div>

</header>