<header>
  <nav class="navbar">
    <div class="logo">
      <a href="../home/home.html">🌊 Life Below Water</a>
    </div>
    <ul class="nav-links">
      <li><a href="../home/home.html">Home</a></li>
      <li><a href="../volunteer/volunteer.html">Volunteer</a></li>
      <li><a href="../table-assigned/table-assigned.html">Table Assigned</a></li>
      <li><a href="../user-profile/user-profile.html">Profile</a></li>
      <li><a href="../feedback/feedback.html">Feedback</a></li>
    </ul>
    <div class="hamburger" onclick="toggleMenu()">☰</div>
  </nav>
</header>

<link rel="stylesheet" href="../navbar/navbar.css">
