<footer class="footer">
  <div class="footer-content">
    <p>🌊 Life Below Water - Protecting Our Oceans</p>
    <ul class="footer-links">
      <li><a href="../sitemap/sitemap.html">Sitemap</a></li>
      <li><a href="../team-assigned/team-assigned.html">Our Team</a></li>
      <li><a href="../content/content.html">Content</a></li>
    </ul>
    <div class="social-icons">
      <a href="#"><img src="../assets/icons/facebook.svg" alt="Facebook"></a>
      <a href="#"><img src="../assets/icons/twitter.svg" alt="Twitter"></a>
      <a href="#"><img src="../assets/icons/instagram.svg" alt="Instagram"></a>
    </div>
    <p>&copy; 2025 Life Below Water. All rights reserved.</p>
  </div>
</footer>
